<section class="slick-slideshow">
    <div class="slick-custom">
        <video src="/image/vidiohotel.MP4" class="video-fluid" autoplay loop muted></video>

        <div class="slick-bottom">
            <div class="container-slide">
                <div class="row" style="display: flex; justify-content: center; align-items: center;">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title">Kenyamanan Modern Dan Layanan Terbaik</h1>

                        <p class="lead text-white mt-lg-3 mb-lg-5">Nikmati Kenyamanan dengan Pelayanan Terpilih dan Staf
                            Profesional yang Menghasilkan Pengalaman Unik</p>

                        <a href="/todo-view" class="btn btn-primary"
                            style="display: flex; justify-content: center; align-items: center;">Add Todo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- section Daftar Film -->
    <section id="daftar-film" class="container-home my-5 bg-light text-dark">
        <h2 class="text-center mb-4">Pilihan Kamar</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light text-dark">
                    <img src="/image/pexels-heyho-6782567.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Deluxe Room</h5>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseInception" aria-expanded="false" aria-controls="collapseInception">
                            Detail
                        </button>
                        <div class="collapse" id="collapseInception">
                            <div class="card card-body bg-light text-black">
                                Kamar Deluxe menawarkan ruang yang luas dengan fasilitas modern, termasuk tempat tidur
                                king-size, TV layar datar, dan kamar mandi mewah dengan bathtub.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light text-dark">
                    <img src="/image/pexels-pixabay-271624.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Standard Room</h5>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseJoker" aria-expanded="false" aria-controls="collapseJoker">
                            Detail
                        </button>
                        <div class="collapse" id="collapseJoker">
                            <div class="card card-body bg-light text-black">
                                Kamar Standard kami yang nyaman dan praktis menawarkan fasilitas dasar yang lengkap,
                                cocok untuk tamu yang mencari akomodasi yang ekonomis namun tetap nyaman.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light text-black">
                    <img src="/image/pexels-suhel-vba-1749662-3659681 - Copy.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Suite Room</h5>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseGodzilla" aria-expanded="false" aria-controls="collapseGodzilla">
                            Detail
                        </button>
                        <div class="collapse" id="collapseGodzilla">
                            <div class="card card-body bg-light text-black">
                                Nikmati pengalaman menginap yang tak tertandingi di Suite Room kami, sebuah pilihan
                                ideal bagi mereka yang menghargai kemewahan dan kenyamanan di setiap detik perjalanan
                                mereka. Dirancang dengan detail yang cermat dan fasilitas modern, Suite Room kami
                                menawarkan ruang luas yang menciptakan suasana santai dan elegan.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light text-black">
                    <img src="/image/pexels-thorsten-technoman-109353-338504.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Family Room</h5>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseWednesday" aria-expanded="false" aria-controls="collapseWednesday">
                            Detail
                        </button>
                        <div class="collapse" id="collapseWednesday">
                            <div class="card card-body bg-light text-black">
                                Family Room dirancang khusus untuk keluarga, dengan ruang yang lebih besar dan tempat
                                tidur tambahan untuk anak-anak. Dilengkapi dengan fasilitas hiburan seperti TV kabel dan
                                Wi-Fi, kamar ini memastikan semua anggota keluarga merasa nyaman dan terhibur selama
                                menginap
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light text-black">
                    <img src="/image/bilderboken-rlwE8f8anOc-unsplash.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Presidential Suite</h5>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseAliens" aria-expanded="false" aria-controls="collapseAliens">
                            Detail
                        </button>
                        <div class="collapse" id="collapseAliens">
                            <div class="card card-body bg-light text-black">
                                Presidential Suite adalah puncak kemewahan hotel kami. Dengan ruang tamu yang luas, meja
                                makan pribadi, dan kamar mandi marmer yang mewah, suite ini dirancang untuk tamu yang
                                mencari pengalaman eksklusif. Layanan butler pribadi juga tersedia untuk memenuhi semua
                                kebutuhan Anda.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light text-dark">
                    <img src="/image/pexels-heyho-6782567.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Honeymoon Suite</h5>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseStarWars" aria-expanded="false" aria-controls="collapseStarWars">
                            Detail
                        </button>
                        <div class="collapse" id="collapseStarWars">
                            <div class="card card-body bg-light text-black">
                                Honeymoon Suite dirancang khusus untuk pasangan yang merayakan momen istimewa. Dengan
                                dekorasi romantis, balkon pribadi, dan bathtub dengan pemandangan yang indah, kamar ini
                                menciptakan suasana yang sempurna untuk memulai perjalanan cinta Anda.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Mengambil elemen tombol sebelum dan sesudah
            var prevButton = document.querySelector(".carousel-control-prev");
            var nextButton = document.querySelector(".carousel-control-next");

            // Menambahkan event listener untuk tombol sebelumnya
            prevButton.addEventListener("click", function () {
                var activeItem = document.querySelector(".carousel-item.active");
                var prevItem = activeItem.previousElementSibling || activeItem.parentElement.lastElementChild;
                activeItem.classList.remove("active");
                prevItem.classList.add("active");
            });

            // Menambahkan event listener untuk tombol berikutnya
            nextButton.addEventListener("click", function () {
                var activeItem = document.querySelector(".carousel-item.active");
                var nextItem = activeItem.nextElementSibling || activeItem.parentElement.firstElementChild;
                activeItem.classList.remove("active");
                nextItem.classList.add("active");
            });
        });

        // Menginisialisasi carousel
        var myCarousel = document.getElementById('carouselExampleFade');
        var carousel = new bootstrap.Carousel(myCarousel, {
            interval: 3000, // Mengatur interval auto slide dalam milidetik (misalnya, 3000 = 3 detik)
            wrap: true // Mengatur agar carousel berulang ketika mencapai akhir
        });
    </script>